[submodule "lib/luaARM"]
	path = lib/luaARM
	url = git@github.com:MGPAlpha/luaARM.git
[submodule "lib/devkitarm-ctrls"]
	path = lib/devkitarm-ctrls
	url = git@github.com:devkitPro/devkitarm-crtls.git
[submodule "lib/z8luaARM"]
	path = lib/z8luaARM
	url = git@github.com:MGPAlpha/z8luaARM.git
